
/* NavBar */
.navbar {
  font-family: cursive;
}
.navbar-nav a {
  font-size: 18px;
}
.buttons .btn i span {
  font-family: cursive;
}
/* Home */
/* Hero */
.hero {
  font-family:'Times New Roman', Times, serif;
}
.hero .card .left-angel-arrow-pointer {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: 32px;
  font-size: 45px;
  z-index: 1;
  cursor: pointer;
  color: #212529c7;
}
.hero .card .right-angel-arrow-pointer {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  right: 32px;
  font-size: 45px;
  z-index: 1;
  cursor: pointer;
  color: #212529c7;
  transition: 1s;
  
  
}



.hero .card .card-img-overlay .container {
  text-align: start;
  
}
@media only screen and (max-width: 1074px) {
  
  .hero .card .card-img-overlay .container {
    text-align: center;
  }
}
.hero .dots-list {
  display: flex;
  justify-content: center;

}
.hero .dots-list .dots {
  margin: 0 3px;
  font-size: 35px;
  z-index: 1;
  cursor: pointer;
  color: #212529c7;
}
/* Products */
.container .row .col-12 h1 {
  font-family: cursive;
}
.container .row .buttons .btn {
  font-family: cursive;
}
.container .row .col-md-3 .card  {
  font-family: cursive;
}
.error {
  font-family: cursive;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
/* product-page */

/* .product-page .container  {
  font-family: cursive;
} */